[submodule "wheelbase"]
	path = wheelbase
	url = https://github.com/sdp7/wheelbase
[submodule "vision"]
	path = vision
	url = https://github.com/sdp7/vision
[submodule "turret"]
	path = turret
	url = https://github.com/sdp7/turret
